<tr>
  <td>
    <h4><%= note.ticket_id %></h4>
  </td>
  <td>
    <h4><%= note.user_id %></h4>
  </td>
  <td>
    <h4><%= note.description %></h4>
  </td>
  <td>
    <%= link_to fa_icon('edit'), edit_note_path(note), class: 'btn btn-sm btn-primary' %>
  </td>
  <td>
    <%= link_to fa_icon('trash'), [note, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  </td>

</tr>