<section class="contracts-new">

  <header class="page-header">
    <h1>Admin &raquo; New Contract</h1>
  </header>

  <div class="well">
    <%= link_to 'All Contract', [:admin, :contracts], class: 'btn btn-info' %>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for [:admin, @contract] do |form| %>
    
        <% if form.object.errors.any? %>
         <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :user_id %>
          <%= form.text_field :user_id, class: 'form-control' %>
          <%= form.label :service_level_agreement_id %>
          <%= form.text_field :service_level_agreement_id, class: 'form-control' %>
          <%= form.label :sla_valid_start_date_id %>
          <%= form.text_field :sla_valid_start_date_id, class: 'form-control' %>
          <%= form.label :sla_valid_end_date_id %>
          <%= form.text_field :sla_valid_end_date_id, class: 'form-control' %>
        </div>

        <%= form.submit 'Create Contract', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>
