<section class="contracts-new">

  <header class="page-header">
    <h1>New Contract</h1>
  </header>

  <div class="well">
    <%= link_to 'All Contracts', [:contracts], class: 'btn btn-info' %>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for [@contract] do |form| %>
    
        <% if form.object.errors.any? %>
         <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :user_id %>
          <%= form.text_field :user_id, class: 'form-control' %>

          <%= form.label :service_level_agreement_id %>
          <% options = options_from_collection_for_select(@service_level_agreements, 'id', 'code') %>
          <%= form.select :service_level_agreement_id,  options %>
          <div></div>

          <%= form.label :sla_valid_start_date %>
          <%= form.text_field :sla_valid_start_date, class: 'form-control' %>

          <%= form.label :sla_valid_end_date %>
          <%= form.text_field :sla_valid_end_date, class: 'form-control' %>
        </div>

        <%= form.submit 'Create Contract', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>
