<tr>
  <td>
  <%= service_level_agreement.code %>
  </td>
  <td>
  <%= service_level_agreement.description.html_safe %>
  </td>
  <td>
  <%= service_level_agreement.business_days %>
  </td>
  <td>
  <%= service_level_agreement.business_hours %>
  </td>
  <td>
    <%= link_to fa_icon('edit'), edit_admin_service_level_agreement_path(service_level_agreement), class: 'btn btn-sm btn-primary' %>
  </td>
  <td>
    <%= link_to fa_icon('trash'), [:admin, service_level_agreement], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  </td>

</tr>