<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>
<header class="page-header" style="background-color:white; font-weight: bold; text-align: center;">
<%= yield :charts_js %>
<div style=" font-weight: bold; text-align: center;">
    <h1 >Admin dashboard</h1>
  </header>
  <body style="text-align:center">

    

  <table class="table table-dark">
  <thead>
    <tr >
      

      <th scope="col" class="bg-info"> Product count</th>
      <th scope="col" class="bg-info">Category count</th>
     
      <th scope="col" class="bg-info"> Closed Tickets</th>
      <th scope="col" class="bg-info"> Assigned Tickets</th>
      
      <th scope="col" class="bg-info"> Tickets due today</th>
    
     
     

    </tr>
  </thead>
  <tbody>


    <tr class="bg-primary">
      

      <td class=" text-center status"><%= @product_count %></td>
      <td class="text-center status"><%= @category_count %></td>
      
      <td class="text-center status"><%= @ticket_closed_count  %></td>
      <td class="text-center status"><%= @assigned_tickets %></td>
      
      <td class="text-center status"><%= @tickets_due_today %></td>

      
    
    </tr>
  </tbody>
</table>
<br>
<br>
<br>
<br>

  <%= column_chart StatTechnician.group(:name).count  , title: "Number of tickets per technecian", library: {hAxis: {title: "Technecian name"}, vAxis: {title: "Number of tickets assigned"}} , label: "id"%>




<br>
<br>

  <table class="table table-striped table-bordered" style="background-color:white;" >
  <thead>
    <tr>
      
      <th scope="col">Technecian name</th>
      <th scope="col">Number of tickets assigned</th>
      <th scope="col">Number of tickets solved</th>
     
      
    </tr>
  </thead>
  <tbody>
  <% @t_all.each do |statTechnician| %>
      
    <tr>
      <td><%= statTechnician[:name] %></td>
      <td><%= statTechnician[:assigned] %></td>
      <td><%= statTechnician[:solved] %></td>
    
      <% end %> 
    </tr>
    
  </tbody>
</table>

  </div>

</body>