<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>

<header class="page-header" style="background-color:white; font-weight: bold; text-align: center;">
  <%= yield :charts_js %>
  <div style=" font-weight: bold; text-align: center;">
  <h1 >Admin dashboard</h1>
</header>

<div style="border: 1px solid black;">
<body style="text-align:center">

  <table class="table table-dark">

    <thead>
      <tr >
        <th scope="col" class="bg-info"> Opened Today</th>
        <th scope="col" class="bg-info"> Not Assigned</th>
        <th scope="col" class="bg-info"> Due Today</th>
        <th scope="col" class="bg-info"> Closed Today</th>
        <th scope="col" class="bg-info"> Overdue</th>
      </tr>
    </thead>

    <tbody>
      <tr class="bg-primary">
        <td class="text-center status"><%= @tickets_opened %></td>
        <td class="text-center status"><%= @tickets_not_assigned %></td>
        <td class="text-center status"><%= @tickets_due %></td>
        <td class="text-center status"><%= @tickets_closed  %></td>
        <td class="text-center status"><%= @tickets_overdue  %></td>
      </tr>
    </tbody>

  </table>

  <br>
  <br>
  <br>

  <h2>HelpDesk Statistics</h2>

  <div style=" width: 100%;  overflow: hidden; display: flex; flex-direction=row">
    <%= bar_chart StatTechnician.group(:name).sum(:solved)  , title: "# tickets solved by technecians", library: {hAxis: {title: "Technecian name"}, vAxis: {title: "Number of solved tickets"}} , label: "Tickets"%>
  </div>

  <hr />

  <div style=" width: 100%;  overflow: hidden; display: flex; flex-direction=row">
    <%= pie_chart StatTicket.group(:code).where(record_type: [1]).sum(:no_of_tickets)  , title: "Number of tickets per priority", library: {hAxis: {title: "Priority"}, vAxis: {title: "Number of tickets"}} , label: "Tickets"%>
    <%= pie_chart StatTicket.group(:code).where(record_type: [2]).sum(:no_of_tickets)  , title: "Number of tickets per status", library: {hAxis: {title: "Status"}, vAxis: {title: "Number of tickets"}} , label: "Tickets"%>
    <%= pie_chart StatTicket.group(:code).where(record_type: [3]).sum(:no_of_tickets)  , title: "Number of tickets per type", library: {hAxis: {title: "Ticket Type"}, vAxis: {title: "Number of tickets"}} , label: "Tickets"%>
  </div>

  <hr />
  <%= column_chart StatTechnician.group(:name).sum(:transferred)  , title: "Transferred tickets per technicians" , library: {hAxis: {title: "Technicians"}, vAxis: {title: "Number of tickets Transferred"}} , label: "Tickets" %>
  <hr />

  <div class="panel panel-default user_types">
    <table class="table table-bordered">
      <caption> Tickets overdue or due today</caption
      </thead class="table_head">
        <tr>
          <th>Opened By</th>
          <th>Technician</th>
          <th>Priority</th>
          <th>Problem Description</th>
          <th>Due Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @tickets %>
          <% @tickets.each do |ticket| %>
            <tr>
              <td><%= User.find_by_id(ticket.user_id).name %></td>
              <td><%= User.find_by_id(ticket.technician_id).name %></td>
              <td><%= TicketPriority.find_by_id(ticket.ticket_priority_id).code %></td>
              <td><%= ticket.problem_description.html_safe %></td>
              <td><%= ticket.to_be_solved_at.strftime "%d-%m-%y %H:%M" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <br />  <hr /> <br /> <br /

</body>
