<section class="home_description-helpdesk">
  <div class="home_open_ticket">
    <div class ="home_open_ticket-virtual-helpdesk">
      <p>
        Virtual <span class="home_open_ticket-virtual-text">HelpDesk</span> for you
      </p>
    </div>
    <div class="home_open_ticket-description">
    HelpDesk provides progressive, and affordable 
services, accessible on mobile and online 
for everyone
    </p>
    </div>
    <div class="home_open_ticket-button-openticket">
      <%= link_to 'Open new Ticket', [:new, :ticket], class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="home-dashboard-pic">
  <div>
      <%= image_tag("MainImageBig.png", alt: "main image img", class: "home_main-image" ) %>
  </div>
  </div>

  <div class="home_blob-main-big">
  <%= image_tag("BlobsMainBig.svg", alt: " BlobsMainBig img", class: "home_blob-big-image") %>
  </div>
  <div class="home_dot-laptop-top">
  <%= image_tag("Dots.svg", alt: " DotsMainBig img", class: "home_dots-image") %>
  </div>
  <div class="home_dot-laptop-botton">
  <%= image_tag("Dots.svg", alt: " DotsMainBig img", class: "home_dots-image") %>
  </div>
  <div class="home_dot-left-halfhidden">
  <%= image_tag("Dots.svg", alt: " DotsMainBig img", class: "home_dots-image") %>
  </div>
</section>

<section class="home_ourservises">
  <div class="home_ourservises-description">
    <div class="home_ourservises-description-title">
      <p>
      Our services
      </p>
      <div class="home_ourservises-description-title-border">
        <%= image_tag("underline.svg", alt: " underline img", class: "home_underline-image") %>
      </div>
    </div>
    <div class="home_ourservises-description-body">
      <p>
      We provide to you the best choiches for you. Adjust it to your needs and make sure your undergo treatment with our highly qualified specialist you can consult with us which type of service is suitable for your
      </p>
    </div>
  </div>

  <div class="home_ourservises-cards">

    <div class="home_ourservises-card">
      <div>
      <%= image_tag("detailsIcon.svg", alt: " detailsicon img", class: "home_detailsinfo-image") %>
      </div>
      <p class="home_ourservises-card-title">
      Details info
      </p>
      <p class="home_ourservises-card-text">
      Choose your ticket from thousands of specialist, general, and trusted
      </p>
    </div>
    <div class="home_ourservises-card">
      <div>
        <%= image_tag("iconAutomation.svg", alt: " iconAutomation img", class: "home_iconAutomation-image") %>
      </div>
      <p class="home_ourservises-card-title">
      Automations
      </p>
      <p class="home_ourservises-card-text">
        Automatically schedule notifications 
        and reminders. 
      </p>
    </div>
    <div class="home_ourservises-card">
      <div>
        <%= image_tag("consultationIcon.svg", alt: " consultationIcon img", class: "home_consultationIcon-image") %>
      </div>
      <div class="home_ourservises-card-title">
      <p>
      Consultation
      </p>
      </div>
      <div class="home_ourservises-card-text">
      <p>
        Free consultation with our trusted specialist and get the best recomendations    
      </p>
      </div>
    </div>
  </div>

 <div class="home_dot-servises">
    <%= image_tag("Dots.svg", alt: " DotsMainBig img", class: "home_dots-image") %>
    </div>
 
    <div class="home_blob-main-servises">
    <%= image_tag("BlobServices.svg", alt: " BlobServices img", class: "home_blob-blobServices-image") %>
    </div>
    
  <div class="home_open_ticket-button-openticket">
      <%= link_to 'Learn more', [:new, :ticket], class: 'btn btn-outline-primary' %>
  </div>



</section>