<tr>
  <td>
  <%= ticket.reference %>
  </td>
  <td>
  <%= ticket.user_id && User.find_by_id(ticket.user_id).name %> 
  </td>
  <td>
  <%= ticket.technician_id && User.find_by_id(ticket.technician_id).name %>
  </td>
  <td>
  <%= ticket.problem_description.html_safe %>
  </td>
  <td>
  <%= TicketPriority.find_by_id(ticket.ticket_priority_id).code %>
  </td>
  <td>
  <%= TicketStatusCode.find_by_id(ticket.ticket_status_code_id).code %>
  </td>
  <td>
  <%= TicketType.find_by_id(ticket.ticket_type_id).code %>
  </td>
  <td>
    <%= link_to fa_icon('edit'), edit_ticket_path(ticket), class: 'btn btn-sm btn-primary' %>
  </td>
  <td>
    <%= link_to fa_icon('trash'), [ticket], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  </td>
</tr>
