<tr>
  <td>
    <h4><%= ticket.reference %></h4>
  </td>
  <td>
    <h4><%= ticket.user_id && User.find_by_id(ticket.user_id).name %></h4> 
  </td>
  <td>
    <h4><%= User.find_by_id(ticket.technician_id).name %></h4>
  </td>
  <td>
    <h4><%= ticket.problem_description.html_safe %></h4>
  </td>
  <td>
    <h4><%= TicketPriority.find_by_id(ticket.ticket_priority_id).code %></h4>
  </td>
  <td>
    <h4><%= TicketStatusCode.find_by_id(ticket.ticket_status_code_id).code %></h4>
  </td>
  <td>
    <h4><%= TicketType.find_by_id(ticket.ticket_type_id).code %></h4>
  </td>
  <td>
    <%= link_to fa_icon('edit'), edit_ticket_path(ticket), class: 'btn btn-sm btn-primary' %>
  </td>
  <td>
    <%= link_to fa_icon('trash'), [ticket], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  </td>
</tr>
