<tr>
  <td>
    <h4><%= ticket.user_id %></h4>
  </td>
  <td>
    <h4><%= ticket.technician_id %></h4>
  </td>
  <td>
    <h4><%= ticket.contract_product_id %></h4>
  </td>
  <td>
    <h4><%= ticket.ticket_priority_id %></h4>
  </td>
  <td>
    <h4><%= ticket.ticket_status_code_id %></h4>
  </td>
  <td>
    <h4><%= ticket.ticket_type_id %></h4>
  </td>
</tr>