<section class="ticket-new">

  <header class="page-header">
    <h1>Edit Ticket</h1>
  </header>

  <div class="well">
    <%= link_to 'All Tickets', [:tickets], class: 'btn btn-info' %>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for [@ticket] do |form| %>
    
        <% if form.object.errors.any? %>
         <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">

          <%= form.label :reference %>
          <%= form.text_field :reference, class: 'form-control' %>

          <%= form.label :user_id %>
          <%= form.text_field :user_id, class: 'form-control' %>

          <%= form.label :technician_id %>
          <% options = options_from_collection_for_select(@technicians, 'id', 'name', @ticket.technician_id) %>
          <%= form.select :technician_id,  options %>
          <div></div>

          <%= form.label :contract_product_id %>
          <% options = options_from_collection_for_select(@contract_products, 'id', 'serial_number', @ticket.contract_product_id) %>
          <%= form.select :contract_product_id,  options %>
          <div></div>

          <%= form.label :ticket_property_id %>
          <% options = options_from_collection_for_select(@ticket_priorities, 'id', 'code', @ticket.ticket_priority_id) %>
          <%= form.select :ticket_priority_id,  options %>
          <div></div>

          <%= form.label :ticket_status_code_id %>
          <% options = options_from_collection_for_select(@ticket_status_codes, 'id', 'code',  @ticket.ticket_status_code_id) %>
          <%= form.select :ticket_status_code_id,  options %>
          <div></div>

          <%= form.label :ticket_type_id %>
          <% options = options_from_collection_for_select(@ticket_types, 'id', 'code', @ticket.ticket_type_id) %>
          <%= form.select :ticket_type_id,  options %>
          <div></div>

          <%= form.label :problem_description %>
          <%= form.text_area :problem_description, :class => "tinymce", :rows => 15, :cols => 120 %>
          <%= tinymce %>

          <%= form.label :solution_description %>
          <%= form.text_area :solution_description, :class => "tinymce", :rows => 15, :cols => 120 %>
          <%= tinymce %>

          <%= form.label :assigned_at %>
          <%= form.datetime_local_field  :assigned_at, class: 'form-control' %>

          <%= form.label :to_be_solved_at %>
          <%= form.datetime_local_field  :to_be_solved_at, class: 'form-control' %>

          <%= form.label :closed_at %>
          <%= form.datetime_local_field  :closed_at, class: 'form-control' %>
        </div>

        <%= form.submit 'Update Ticket', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>
