<section class="ticket-new">

  <header class="page-header">
    <h1>Edit Ticket</h1>
  </header>

  <div class="well">
    <%= link_to 'All Tickets', [:tickets], class: 'btn btn-info' %>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1 new_ticket-form-wraper">
      <%= form_for [@ticket] do |form| %>

        <% if form.object.errors.any? %>
         <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">

          <%= form.hidden_field  :assigned_at, class: 'form-control' %>
          <%= form.hidden_field  :to_be_solved_at, class: 'form-control' %>
          <%= form.hidden_field  :closed_at, class: 'form-control' %>
          <%= form.hidden_field :user_id, class: 'form-control' %>
          <%= form.hidden_field :reference, class: 'form-control' %>

          <div class="form_current-user">
            <h4><span class="form_current-user-title"> Opened By : </span><%= @user_created_by.name %></h4>
            <h4><span class="form_current-user-title"> Email     : </span><%= @user_created_by.email %></h4>
            <h4><span class="form_current-user-title"> Mobile    : </span><%= @user_created_by.mobile %></h4>
            <h4><span class="form_current-user-title"> Reference : </span><%= @ticket.reference %></h4>
          </div>

          <% if @userType != 'User' %>
            <div class="new_ticket-selector col-2">
              <%= form.label :technician_id %>
              <% options = options_from_collection_for_select(@technicians, 'id', 'name', @ticket.technician_id) %>
              <%= form.select :technician_id,  options, {}, { class: 'form-control' } %>
              <!-- <div></div> -->
            </div>
          <% else %>
            <%= form.hidden_field :technician_id, class: 'form-control' %>          
          <% end %>
          <hr />
          
          <div class="new_ticket-select-products">
            <div class="new_ticket-selector col-2">
              <%= form.label :category_id %>
              <% options = options_from_collection_for_select(@categories, 'id', 'code', @ticket.category_id) %>
              <%= form.select :category_id,  options, {}, { class: 'form-control' }%>
            </div>
              <!-- <div></div> -->
          <div class="new_ticket-selector col-2">
            <%= form.label :product_id %>
            <% options = options_from_collection_for_select(@default_products, 'id', 'code', @ticket.product_id) %>
            <%= form.select :product_id, options, {}, { class: 'form-control' } %>
          </div>
        </div>
              <!-- <div></div> -->
          <div class="form_current-user">
            <% if @ticket.assigned_at %>
              <h4> <span class="form_current-user-title"> Assigned At : </span> <%= @ticket.assigned_at.strftime "%d-%m-%y %H:%M" %> </h4></hr>
            <% end %>
  
            <% if @ticket.to_be_solved_at %>
              <h4> <span class="form_current-user-title"> To Be Solved By :</span> <%= @ticket.to_be_solved_at.strftime "%d-%m-%y %H:%M" %></h4> </hr>
            <% end %>
  
            <% if @ticket.closed_at %>
              <h4><span class="form_current-user-title">  Closed At : </span><%= @ticket.closed_at.strftime "%d-%m-%y %H:%M" %></h4> </hr>
            <% end %>
          </div>
    
            <%= form.label :model %>
            <%= form.text_field :model, class: 'form-control' %>

            <%= form.label :serial_number %>
            <%= form.text_field :serial_number, class: 'form-control' %>

          <% if @userType != 'User' %>
          <div class="new_ticket-select-products">
            <div class="new_ticket-selector">
              <%= form.label :ticket_property_id %>
              <% options = options_from_collection_for_select(@ticket_priorities, 'id', 'code', @ticket.ticket_priority_id) %>
              <%= form.select :ticket_priority_id,  options, {}, { class: 'form-control' } %>
            </div>
              <!-- <div></div> -->
            <div class="new_ticket-selector">
              <%= form.label :ticket_status_code_id %>
              <% options = options_from_collection_for_select(@ticket_status_codes, 'id', 'code',  @ticket.ticket_status_code_id) %>
              <%= form.select :ticket_status_code_id,  options, {}, { class: 'form-control' } %>
            </div>
              <!-- <div></div> -->
            <div class="new_ticket-selector">
              <%= form.label :ticket_type_id %>
              <% options = options_from_collection_for_select(@ticket_types, 'id', 'code', @ticket.ticket_type_id) %>
              <%= form.select :ticket_type_id,  options, {}, { class: 'form-control' } %>
            </div>
          </div>

              <!-- <div></div> -->
            <hr />
          <% else %>
            <%= form.hidden_field  :ticket_priority_id, class: 'form-control' %>
            <%= form.hidden_field  :ticket_status_code_id, class: 'form-control' %>
            <%= form.hidden_field  :ticket_type_id, class: 'form-control' %>
            <hr />
          <% end %>

          <% if @userType == 'User' || @userType%>
            <h4><%= form.label :problem_description %></h4>
            <%= form.text_area :problem_description, :class => "tinymce", :rows => 15, :cols => 120 %>
            <%= tinymce %>
            <hr />
          <% else %>
            <hr />
            <h4> Problem Description : </h4>
            <%= @ticket.problem_description.html_safe %>
            <%= form.hidden_field  :problem_description, class: 'form-control' %>
            <hr />
          <% end %>

          <% if @userType != 'User' %>
            <hr />
            <h4> <%= form.label :solution_description %> </h4>
            <%= form.text_area :solution_description, :class => "tinymce", :rows => 15, :cols => 120 %>
            <%= tinymce %>
          <% else %>
            <hr />
            <% if @ticket.solution_description %>
              <h4> Solution Description : </h4>
              <%= @ticket.solution_description.html_safe %>
            <% end %>
            <%= form.hidden_field :solution_description, class: 'form-control' %>
            <hr />
          <% end %>

        </div>

        <div id="hiddenElement" class='hidden' data-products=<%= @products.map{|p| [p.category_id, p.id, p.code]}.to_json %>></div> 

        <%= form.submit 'Update Ticket', class: 'btn btn-primary' %>
        <br /><br /><br />

      <% end %>
    </div>
  </div>

</section>
<script>
    $(document).ready(function() {
        function handleMyChange(){
          var category_id = $('#ticket_category_id').find(":selected").val();
          var myElement = document.getElementById('hiddenElement'); 
          var myVar = JSON.parse(myElement.dataset.products); 
          const desired_products = myVar.filter(p => p[0] === parseInt(category_id));
          console.log("prodssss", desired_products,)
          $('#ticket_product_id').find('option').remove();
          desired_products.map((p) => {
            $('#ticket_product_id').append(`<option value=${p[1]}>${p[2]}</option>`);
          });
        }
        $("#ticket_category_id").on("change", handleMyChange);
  });

</script>