<section class="ticket-index">

  <header class="page-header">
    <h1>Tickets</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Ticket', [:new, :ticket], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default tickets">

    <table class="table table-bordered">
      <thead class="table_head">
        <tr>
          <th>Reference</th>
          <th><%= link_to fa_icon('filter', text: "User"), sort: 'user_id' %></th>
          <th><%= link_to fa_icon('filter', text: "Technician"), sort: 'technician_id' %></th>
          <th>Problem Description</th>
          <th><%= link_to fa_icon('filter', text: "Priority"), sort: 'ticket_priority_id' %></th>
          <th><%= link_to link_to fa_icon('filter', text: "Status Code"), sort: 'ticket_status_code_id' %></th>
          <th><%= link_to link_to fa_icon('filter', text: "Type"), sort: 'ticket_type_id' %></th>
        </tr>
      </thead>
      <tbody>
        <% if @tickets %>
          <%= render @tickets %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
