<section class="ticket-new">

  <header class="page-header">
    <h1>Edit QA</h1>
  </header>

  <div class="well">
    <%= link_to 'All QAs', [:admin, :qas], class: 'btn btn-info' %>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for [:admin, @qa] do |form| %>
    
        <% if form.object.errors.any? %>
         <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">

          <div class="new_ticket-selector col-2">
          <%= form.label :qa_category_id %>
          <% options = options_from_collection_for_select(@qa_categories, 'id', 'code', @qa.qa_category_id) %>
          <%= form.select :qa_category_id,  options, {}, { class: 'form-control' } %>
         <!-- <div></div> -->
          </div>

            <div class="new_ticket-text-area">
          <%= form.label :problem %>
          <%= form.text_area :problem, :class => "tinymce", :rows => 15, :cols => 120 %>
          <%= tinymce %>
          </div>

          <div class="new_ticket-text-area">
          <%= form.label :solution %>
          <%= form.text_area :solution, :class => "tinymce", :rows => 15, :cols => 120 %>
          <%= tinymce %>
          </div>

        </div>

        <%= form.submit 'Update QA', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>
