<tr>
  <td>
    <h4><%= QaCategory.find(qa.qa_category_id).code %></h4>
  </td>
  <td>
    <h4><%= qa.problem.html_safe %></h4>
  </td>
  <td>
    <h4><%= qa.solution.html_safe %></h4>
  </td>
  <td>
    <%= link_to fa_icon('edit'), edit_qa_path(qa), class: 'btn btn-sm btn-primary' %>
  </td>
  <td>
    <%= link_to fa_icon('trash'), [qa], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  </td>

</tr>