<section class="home_description-helpdesk">
  <div class="home_open_ticket map_about">
    <div class ="home_open_ticket-virtual-helpdesk map_about-title">
      <p>
        Work more efficiently and save time
      </p>
     <div class="home_ourservises-description-title-border map_about-underline">
        <%= image_tag("underline.svg", alt: " underline img", class: "home_underline-image") %>
      </div>
    </div>
    <div class="home_open_ticket-description">
      <p>
      HelpDesk services are aimed to automate marketing, sales and customer service. CRM services cover CRM consulting, implementation, testing, support and more.
      HelpDesk provides progressive, and affordable services, accessible on mobile and online for everyone. To us, it’s not just work. We take pride in the solutions we deliver
      </p>
    </div>
    <div class="home_open_ticket-button-openticket">
      <%= link_to 'Open new Ticket', [:new, :ticket], class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="home-dashboard-pic">
    <div>
      <%= image_tag("about_pic.svg", alt: " about img", class: "about_pic-image" ) %>
    </div>
  </div>

  <div class="home_blob-main-big">
  <%= image_tag("BlobsMainBig.svg", alt: " BlobsMainBig img", class: "home_blob-big-image") %>
  </div>
  <div class="home_dot-laptop-top">
  <%= image_tag("Dots.svg", alt: " DotsMainBig img", class: "home_dots-image") %>
  </div>
  <div class="home_dot-laptop-botton about_section1-botton">
  <%= image_tag("Dots.svg", alt: " DotsMainBig img", class: "home_dots-image") %>
  </div>
  <div class="home_dot-left-halfhidden">
  <%= image_tag("Dots.svg", alt: " DotsMainBig img", class: "home_dots-image") %>
  </div>
</section>

<section class="home_work-efficiently">
  <div class="home-work-small-pic about_map-google">
    <div>
      <%= image_tag("about_map.png", alt: " MainImageSmall img", class: "home_main-image-small" ) %>
    </div>
  </div>
 
  <div class="home_work-efficitently-description about_map-contact-desc">
    <div class ="home_work-efficitently-description-title">
      <p>
      Contact Us      
      </p>
    <div class="home_ourservises-description-title-border map_about-underline">
        <%= image_tag("underline.svg", alt: " underline img", class: "home_underline-image") %>
      </div>
    </div>
    <div class="home_work-efficitently-description-text">
      <p>
      We provide to you the best choiches for you. Adjust it to your needs and make sure your undergo treatment with our highly qualified specialist you can consult with us which type of service is suitable for your
      </p>
    </div>
    <div class="about_map-contact-details">
      <p>
        (647) 555-0105
      </p>
      <p>
      38 Stewart St, Toronto, ON, Canada
      </p>
    </div>
  </div>

  <div class="home_blob-main-small about_cloud2">
  <%= image_tag("about_cloud2.png", alt: " Blob3block img", class: "home_blob-3block-image") %>
  </div>
  
</section>