<tr>
  <td>
    <%= ticket_priority.code %>
  </td>
  <td>
    <%= ticket_priority.description.html_safe %>
  </td>
  <td>
    <%= ticket_priority.business_days %>
  </td>
  <td>
    <%= ticket_priority.business_hours %>
  </td>
  <td>
    <%= link_to fa_icon('edit'), edit_admin_ticket_priority_path(ticket_priority), class: 'btn btn-sm btn-primary' %>
  </td>
  <td>
    <%= link_to fa_icon('trash'), [:admin, ticket_priority], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  </td>

</tr>