<section class="ticket-new">

  <header class="page-header">
    <h1>Edit Ticket Priority</h1>
  </header>

  <div class="well">
    <%= link_to 'All Ticket Priorities', [:admin, :ticket_priorities], class: 'btn btn-info' %>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for [:admin, @ticket_priority] do |form| %>
    
        <% if form.object.errors.any? %>
         <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :code %>
          <%= form.text_field :code, class: 'form-control' %>

          <%= form.label :description %>
          <div class="new_ticket-text-area">
          <%= form.text_area :description, :class => "tinymce", :rows => 15, :cols => 120 %>
          <%= tinymce %>
          </div>

          <%= form.label :business_days %>
          <%= form.text_field :business_days, class: 'form-control' %>

          <%= form.label :business_hours %>
          <%= form.text_field :business_hours, class: 'form-control' %>
        </div>

        <%= form.submit 'Update Ticket Priority', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>
