<footer class="footer_container">
  <div class="footer_about">
    <div class="footer_about-logo">
        <%= image_tag("WhitelogoFooter.svg", alt: " WhitelogoFooter img", class: "home_whitelogofooter-image") %>
    </div>
    <div class="footer_about-description">
      <p>
      HelpDesk provides progressive, and affordable  services, accessible on mobile and online 
      for everyone
      </p>
    </div>
    <div class="footer_about-rights">
      <p>©HelpDesk PTY LTD 2022. All rights reserved</p>
    </div>
  </div>

  <div class="footer_links">
    <div class="footer_links-title">
      <p>Company</p>
    </div>
    <ul class="ul footer_links">
      <li>
      <%= link_to 'About', :about_index %>
      </li>
      <li>
         <%= link_to 'Tickets', tickets_path %>
      </li>
      <li>
          <%= link_to 'F.A.Q', qas_path %>
      </li>
      <li>
      <%= link_to 'Contacts', :about_index %>
      </li>
    </ul>
  </div>

  <div class="footer_help-links">
    <div class="footer_help-links-title">
      <p>Help</p>
    </div>

    <ul class="footer_links">
        <li>
         <%= link_to 'Help center', :about_index %>
        </li>
        <li>
        <%= link_to 'Contact support', :about_index %>
        </li>
        <li>
        <%= link_to 'Instructions', :root %>        
        </li>
        <li>
        <%= link_to 'How it works', :root %>
        </li>
    </ul>
  </div>

  <div class="footer-dot-img">
    <%= image_tag("Dots.svg", alt: " footer-dot img", class: "footer-dot-img-image") %>
  </div>
<footer>